.blog {
  &-header {
    background-color: $light;
    padding: 50px 0;
  
    h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      opacity: 0.9;
      font-size: 1.55em;

      @media only screen and (max-width: 767px) {
        font-size: 1.3em;
      }
    }
  }

  &-list {
    padding: 50px 0;

    .flex {
      flex-wrap: wrap;
      margin: 0 -20px;

      & > .flex-1 {
        max-width: calc(33.3333% - 40px);
        min-width: calc(33.3333% - 40px);
        margin: 20px 20px 40px;
        color: initial;

        &:hover {
          h3 {
            color: $blue;
          }
        }
      }

      @media only screen and (max-width: 979px) {
        & > .flex-1 {
          max-width: calc(50% - 40px);
          min-width: calc(50% - 40px);
        }
      }

      @media only screen and (max-width: 767px) {
        margin: 0;

        & > .flex-1 {
          max-width: 100%;
          min-width: 100%;
          margin: 20px 0 40px;
        }
      }
    }

    h3 {
      font-size: 1.4em;
      line-height: 1.3;
      margin-top: 20px;
      margin-bottom: 12px;
      transition: all 0.2s;

      @media only screen and (max-width: 767px) {
        font-size: 1.2em
      }
    }

    &--excerpt,
    &--author {
      opacity: 0.9;
    }
    
    &--excerpt {
      margin-bottom: 15px;
    }
  }
}
