<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Dheeti Technologies- Turning Your Vision Into Reality

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,700&display=swap")
    link(rel="stylesheet", href="assets/css/style.css")

    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='assets/img/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/img/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/img/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/img/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='assets/img/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='assets/img/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='assets/img/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='assets/img/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='assets/img/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='assets/img/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='assets/img/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='assets/img/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='assets/img/favicon-128.png', sizes='128x128')
    meta(name='application-name', content=' ')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='assets/img/mstile-144x144.png')
    meta(name='msapplication-square70x70logo', content='assets/img/mstile-70x70.png')
    meta(name='msapplication-square150x150logo', content='assets/img/mstile-150x150.png')
    meta(name='msapplication-wide310x150logo', content='assets/img/mstile-310x150.png')
    meta(name='msapplication-square310x310logo', content='assets/img/mstile-310x310.png')

    meta(name='image', content='assets/img/growthpal-meta.jpg')
    meta(name='description', content='Dheeti Technologies provides expert guidance to growth-oriented businesses in the Industry 4.0 through consultation, training as well as software development.')
    meta(name='image', content='assets/img/growthpal-meta.jpg')
    // Schema.org for Google
    meta(itemprop='name', content="Dheeti Technologies- Turning Your Vision Into Reality")
    meta(itemprop='description', content='Dheeti Technologies provides expert guidance to growth-oriented businesses in the Industry 4.0 through consultation, training as well as software development.')
    meta(itemprop='image', content='assets/img/growthpal-meta.jpg')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content="Dheeti Technologies- Turning Your Vision Into Reality")
    meta(name='twitter:description', content='Dheeti Technologies provides expert guidance to growth-oriented businesses in the Industry 4.0 through consultation, training as well as software development.')
    meta(name='twitter:site', content='')
    meta(name='twitter:creator', content='')
    meta(name='twitter:image:src', content='assets/img/growthpal-meta.jpg')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='url', property='og:url', content='https://www.growthpal.com')
    meta(name='site_name', property='og:site_name', content='Dheeti Technologies')
    meta(name='title', property='og:title', content="Dheeti Technologies- Turning Your Vision Into Reality")
    meta(name='type', property='og:type', content='website')
    meta(name='image', property='og:image', content='assets/img/growthpal-meta.jpg')
    meta(name='description', property='og:description', content='Dheeti Technologies provides expert guidance to growth-oriented businesses in the Industry 4.0 through consultation, training as well as software development.')

  body

    nav.nav
      .container
        .flex.align-items-center
          .flex-1
            a(href="./")
              img(src="assets/img/dheeti-logo.svg", alt="dheeti logo")
          .flex-1.right
            ul
              li
                a(href="#services") Services
              li
                a(href="#team") Team
              li
                a(href="#blog") Blog
              li
                a(href="#contact") Contact

    main.index

      section.index-hero.center
        .container
          h1.white Turning Your Vision Into Reality
          p.white Business Consulting for Industry 4.0
          a.button.white(href="#!") Contact Us

      section.index-how.center#services
        .container
          h2.uppercase How Can We Help?
          .flex.flex-wrap
            .flex-1
              svg.index-how__hex(viewBox='0 0 120 100')
                path(d='M38,2 L82,2 A12,12 0 0,1 94,10 L112,44 A12,12 0 0,1 112,56 L94,90 A12,12 0 0,1 82,98 L38,98 A12,12 0 0,1 26,90 L8,56 A12,12 0 0,1 8,44 L26,10 A12,12 0 0,1 38,2')
              .index-how__content
                .flex
                  div
                    img(src="assets/img/consulting.png", alt="consulting")
                    h3 Consulting
                  .left
                    ul
                      li Agile Coaching
                      li Management 4.0
                      li Engineering Practices
            .flex-1
              svg.index-how__hex(viewBox='0 0 120 100')
                path(d='M38,2 L82,2 A12,12 0 0,1 94,10 L112,44 A12,12 0 0,1 112,56 L94,90 A12,12 0 0,1 82,98 L38,98 A12,12 0 0,1 26,90 L8,56 A12,12 0 0,1 8,44 L26,10 A12,12 0 0,1 38,2')
              .index-how__content
                .flex
                  div
                    img(src="assets/img/software-dev.png", alt="software development")
                    h3 Software Engineering
                  .left
                    ul
                      li Web Development
                      li Mobile Development
                      li BPM
                      li DevOps &amp; Business Intelligence
            .flex-1
              svg.index-how__hex(viewBox='0 0 120 100')
                path(d='M38,2 L82,2 A12,12 0 0,1 94,10 L112,44 A12,12 0 0,1 112,56 L94,90 A12,12 0 0,1 82,98 L38,98 A12,12 0 0,1 26,90 L8,56 A12,12 0 0,1 8,44 L26,10 A12,12 0 0,1 38,2')
              .index-how__content
                .flex
                  div
                    img(src="assets/img/training.png", alt="training")
                    h3 Training
                  .left
                    ul
                      li Git Masterclass
                      li OO for Experienced Professionals
                      li Agile Project Management

      section.index-clients.center
        .container
          h2.uppercase Our Clients
          .flex.flex-wrap.justify-content-center.align-items-center
            .flex-1
              img(src="assets/img/siemens-logo.png", alt="siemens logo", style="width: 180px; max-height: unset;")
            .flex-1
              img(src="assets/img/trusting-social-logo.png", alt="trusting social logo" style="width: 190px;")
            .flex-1
              img(src="assets/img/learning-health-logo.png", alt="learning health logo")
            .flex-1
              img(src="assets/img/tata-communications-logo.png", alt="tata communications logo")
            .flex-1
              img(src="assets/img/shibika-logo.png", alt="shibika logo" style="width: 120px;max-height: unset;")

      section.index-blog#blog
        .container
          h2.center.uppercase Blog
          .flex
            .flex-1
              img(src="assets/img/blog-featured-image.jpg", alt="The Guessing Game of Abstractions")
              h3.uppercase The Guessing Game of Abstractions
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus amet dolores distinctio ducimus cumque delectus sunt vero nobis qui iure! Ipsum, voluptate hic! Quis eveniet eaque voluptate soluta! Unde, beatae!
            .flex-1
              img(src="assets/img/blog-featured-image.jpg", alt="The Guessing Game of Abstractions")
              h3.uppercase The Guessing Game of Abstractions
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus amet dolores distinctio ducimus cumque delectus sunt vero nobis qui iure! Ipsum, voluptate hic! Quis eveniet eaque voluptate soluta! Unde, beatae!
            .flex-1
              img(src="assets/img/blog-featured-image.jpg", alt="The Guessing Game of Abstractions")
              h3.uppercase The Guessing Game of Abstractions
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus amet dolores distinctio ducimus cumque delectus sunt vero nobis qui iure! Ipsum, voluptate hic! Quis eveniet eaque voluptate soluta! Unde, beatae!

      section.index-about.center#team
        .container
          h2.uppercase About Us
          h3.index-about--subhead Our Values
          .flex.index-about__values
            .flex-1
              img(src="assets/img/agility.png", alt="agility")
              h3 Agility
              p We firmly believe and follow the Agile methodology as a practice which promotes continuous iteration of development and testing throughout the software development lifecycle of the project.
            .flex-1
              img(src="assets/img/excellence.png", alt="engineering excellence")
              h3 Engineering Excellence
              p Exceptional engineers build exceptional software. We strive for excellence in everything we do.
            .flex-1
              img(src="assets/img/entrepreneur.png", alt="entrepreneurship")
              h3 Entrepreneurship
              p Entrepreneurship is a mindset and we value that. The hunger to grow, the will to keep trying and the passion to succeed is what keeps us going.
          h3.index-about--subhead Our Team
          .flex.index-about__team
            .flex-1
              img(src="assets/img/jayram-joshi.png", alt="jayram joshi")
              h3 Jayram Joshi
              h4 CEO
              p Over 20 years of work experience| Technologist and Agileist| Entrepreneur at Heart| Always curious to learn and grow.
            .flex-1
              img(src="assets/img/shripad-agashe.png", alt="shripad agashe")
              h3 Shripad Agashe
              h4 CTO
              p Over 17 years of development experience| An expert in TDD| Ever Sceptical| Ever-curious about the latest the tech market has to offer.

      section.index-contact#contact
        .container
          h2.center.uppercase Contact Us
          .index-contact__wrapper
            form
              input(type="text", placeholder="Name")
              input(type="email", placeholder="Email")
              input(type="text", placeholder="Phone")
              textarea#message(name="message", cols="30", rows="10", placeholder="Message")
              .center
                button.button.button-fill(type="submit") Send

    footer.footer
      .container
        .flex
          .flex-1
            img(src="assets/img/dheeti-logo.svg", alt="dheeti logo")
            p &copy; Dheeti Technologies. All Rights Reserved.
            p
              a(href="#!") Privacy Policy
              span  | 
              a(href="#!") Terms of Use
          .flex-1
            ul.footer-list
              li Bhawani Complex, Shastri Nagar Kothrud Pune,
                br
                | Maharashtra India 411038
              li
                a(href="tel:+91 779-898-7105") +91 779-898-7105
              li
                a(href="mailto:info@dheeti.com") info@dheeti.com
